@import url(_helvetica_neue_cyr.css);
* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding-left: 60px;
  padding-right: 60px;
}

.big-block {
  min-width: 100%;
  min-height: 100%;
  z-index: -10;
  background-image: url(img/ellipse1.png);
  background-repeat: no-repeat;
  background-position: top center;
}

.header {
  min-height: 100%;
  padding-top: 55px;
}
.header__right-box2 {
  display: none;
}
.header__flex-box {
  display: flex;
  justify-content: space-between;
}
.header__left-box-a {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: black;
}
.header__right-box {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.header__right-box-a {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #282828;
  margin-right: 52px;
  transition: all 0.5s ease-out;
}

.button {
  height: 100%;
  cursor: pointer;
}
.button__button-border {
  position: relative;
  width: 116px;
  height: 42px;
  border: 1px solid #282828;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
}
.button__button-bg {
  position: absolute;
  width: 118px;
  height: 42px;
  top: 7px;
  left: 7px;
  border: 1px solid #0077a0;
  z-index: -1;
  background-color: #0077a0;
  transition: all 0.5s ease-out;
}
.button__button-border-email {
  width: 140px;
  height: 45px;
}
.button__button-bg-email {
  width: 140px;
  height: 45px;
}

.info {
  display: flex;
  justify-content: center;
  height: 100%;
}
.info__block-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 287px;
  z-index: 1;
}
.info__h1 {
  font-family: "HelveticaNeueCyr-Bold";
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0.25em;
  color: #282828;
}
.info__h2 {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.11em;
  margin-top: 58px;
  margin-bottom: 26px;
  color: #282828;
}
.info__form {
  display: flex;
}
.info__input-email {
  width: 253px;
  min-height: 41px;
  border: 1px solid #282828;
  border-radius: none;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.05em;
  padding-left: 12px;
  color: #6f6f6f;
}

.footer__block-flex {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: right;
  margin-bottom: 50px;
  margin-top: 190px;
}
.footer__icons {
  margin-left: 32px;
  transition: all 0.5s ease-out;
}

.footer__icon-block-a:hover .footer__icons {
  fill: #ef7f1a;
}

.header__right-box-a:hover {
  color: #ef7f1a;
}

.button:hover .button__button-bg {
  background-color: #ef7f1a;
  top: 0px;
  left: 0px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1000px) {
  .container {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .big-block {
    background-position: top center;
    background-image: url(img/ellipse640.png);
  }

  .info__h1 {
    letter-spacing: 0.23em;
    font-size: 60px;
  }
  .info__h2 {
    margin-top: 40px;
  }
  .info__block-flex {
    margin-top: 210px;
  }

  .footer__block-flex {
    margin-top: 154px;
  }
}
@media (max-width: 660px) {
  .container {
    max-width: 300px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header {
    padding-top: 29px;
  }
  .header__right-box2 {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
  }
  .header__icons {
    fill: #282828;
    transition: all 0.5s ease-out;
  }
  .header__right-box {
    display: none;
  }

  .header__icons:hover {
    fill: #ef7f1a;
  }

  .big-block {
    background-image: url(img/ellipse320.png);
    background-position: top center;
  }

  .info__h1 {
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.25em;
    text-align: center;
    font-size: 50px;
  }
  .info__h2 {
    letter-spacing: 0.11em;
    font-size: 19px;
    line-height: 23px;
    margin-top: 35px;
    margin-bottom: 36px;
  }
  .info__input-email {
    width: 154px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
  }
  .info__block-flex {
    margin-top: 100px;
  }

  .footer__block-flex {
    justify-content: center;
  }

  .button__button-border {
    width: 126px;
    line-height: 19px;
    letter-spacing: 0.05em;
    font-size: 16px;
  }

  .button__button-bg-email {
    width: 126px;
  }

  .footer__icons--ml-none {
    margin-left: 0;
  }

  .footer__block-flex {
    margin-top: 59px;
    margin-bottom: 64px;
  }

  .button__button-border p {
    margin-top: 3px;
    margin-left: 3px;
  }
}/*# sourceMappingURL=style.css.map */